
@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@700&display=swap');

header {
  background: rgb(34,193,195);
  background: radial-gradient(circle, rgb(28, 221, 224) 0%, rgba(18,71,93,1) 73%);
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
h1 {
  font-family: 'BenchNine', sans-serif;
    font-size: 6em;
    line-height: 1.1;
  }