@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@700&display=swap');

h2 {
    font-family: 'BenchNine', sans-serif;
    font-size: 2em;
    width: 500px;
    border-radius: 50px 0;
    padding: 10px;
    margin: 0;
    /* color: rgb(248, 238, 238); */
    /* background: rgb(34,193,195);
    background: linear-gradient(270deg, rgb(53, 208, 211) 0%, rgb(6, 46, 63) 73%); */
}   
hr {
    width: 1000px;
}