.section-container {
    display: flex;
    justify-content:space-evenly; 

}
.section-paragraph {
    width: 50%;
    text-align: justify;
    text-indent: 30px;
    
}
.section-img {
    width: 200px;
    height: 200px;
    border-radius: 50px 0;
}